*{
  margin: 0;
  padding: 0;
}
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
td{
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;  
}
.interrogante{
  background-image: url(../imagenes/question-lg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
.bandera{
  background-image: url(../imagenes/flag-fill.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
.mina{
  background-image: url(../imagenes/bomba.png);
  background-color: #777777;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  border-left: 2px solid #707070;
  border-top: 2px solid #707070;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
}
.vacio{
  font-size: xx-large;
  background-color: #777777;
  border-left: 2px solid #707070;
  border-top: 2px solid #707070;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
}