*{
  margin: 0;
  padding: 0;
}
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
tr, td, .vacio{
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
}
td{
  width: 50px;
  height: 50px;
  text-align: center;
}
.interrogante{
  background-image: url(../imagenes/question-lg.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.bandera{
  background-image: url(../imagenes/flag-fill.svg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}